/* Styles for the full screen prayer wall  */
.grid-sizer,
.grid-item { width: 30%; margin-bottom: 50px; }
.gutter-sizer { width: 3.333%;}
.grid-container {
  width: 80vw;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

/* Styles for /prayerwall masonry grid */
.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-top: 2rem;
  padding: 1rem;
}